.root {
    flex-grow: 1;
}

.flex {
    flex-grow: 1;
}

.menuButton {
    margin-left: -12px;
    margin-right: 20px;
}

.list {
    width: 250px;
}

.fullList {
    width: auto;
}

.settingsIcon {
    opacity: 0.3;
}
.settingsIcon:hover {
    opacity: 1;
}